<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671090078726-bfeghkn6bi1o0hrjuf4dj84o3p006tr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671090078726-bfeghkn6bi1o0hrjuf4dj84o3p006tr2</string>
	<key>API_KEY</key>
	<string>AIzaSyD9oSZxu0n78j_oZcrmNhvrCpz36LOZbhY</string>
	<key>GCM_SENDER_ID</key>
	<string>671090078726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corbu.sergiu.ReFresh</string>
	<key>PROJECT_ID</key>
	<string>refresh-a7208</string>
	<key>STORAGE_BUCKET</key>
	<string>refresh-a7208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671090078726:ios:de401977ee91fde54bff87</string>
</dict>
</plist>
